.cardWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  height: 360px;
  margin-bottom: 20px;
}
.imgWrap {
  width: 200px;
  height: 285px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.link {
  text-decoration: none;
}
.cardText {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.cardText:hover {
  color: #ff5c00;
}
.coverCard {
  width: 200px;
  height: 285px;
  position: absolute;
  opacity: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  top: 0;
  left: 0;
  color: #ff5c00;
}
.coverCard:hover {
  opacity: 1;
}
.infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 285px;
}
