.pointWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
}
.pointTopic {
  width: 40%;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff66;
  line-height: 17px;
  text-align: left;
}
.pointI {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 17px;
  text-align: left;
}
