.button {
  height: 40px;
  width: 150px;
  background-color: #ff5c00;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-right: 50px;

}
.button:hover {
  background-color: #ff3d00;
  cursor: pointer;
}
.button:disabled {
  color: #8d8e97;
  background-color: #e8e8e8;
}
